@{
    ViewBag.Title = "About";
}

<div style="padding-top: 20px; text-align: center;">
    <iframe src="https://docs.google.com/file/d/0B9VXD21F5bgeVGF5bFl6dDZrSkU/preview" width="850" height="1100"></iframe>
</div>