@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">Please select an action.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Add a term.</h2>
        <p><a class="btn btn-default" href="/Terms/Edit">Go &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>View glossary.</h2>
        <p><a class="btn btn-default" href="/Home/Glossary">Go &raquo;</a></p>
    </div>
</div>